@import 'tailwindcss';

:root {
  color-scheme: dark;
}

html[data-theme='light'] {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
